{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %} login {% endblock %}

{% block content %}
    <div style="text-transform: lowercase;">
        <form method="POST">
            {% csrf_token %}
            
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="text-primary" style="cursor: pointer; border: none; background: none; outline: none;" type="submit">LOGIN</button>
            </div>
        </form>

        <div class="border-top">
            <small class="text-muted">
                need an account?
                <a class="ml-2" href="{% url 'register' %}">sign up now</a>
            </small>
        </div>
    </div>
{% endblock %}