{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="section rounded border border-dark">
        <form method="POST">
            {% csrf_token %} {# Protects against CSRF attacks #}
            
            <fieldset class="form-group">
                {{ form|crispy }} {# Renders the login form with crispy styling #}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>

        <div class="border-top">
            <small class="text-muted">
                Need an account?
                <a class="text-primary" href="{% url 'register' %}">Signup Now</a>
            </small>
        </div>
    </div>
{% endblock %}