{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="section rounded border border-dark">
        <form method="POST">
            {% csrf_token %} {# CSRF protection for the form #}

            <fieldset class="form-group">
                {{ form|crispy }} {# Render form fields using crispy-forms #}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>

        <div class="border-top">
            <small class="text-muted">
                Already have an account?
                <a class="text-primary" href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
{% endblock %}
