{% extends 'main/base.html' %}

{% block title %} Delete writing {% endblock %}

{% block content %}
    <div class="section rounded border border-dark">
        <form method="POST">
            {% csrf_token %} {# CSRF protection #}

            <fieldset class="form-group">
                <h2>Are you sure you want to delete the writing <b>"{{ object.title }}"</b> ?</h2>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-dark" href="{% url 'post-detail' object.id %}">Cancel</a>            
            </div>
        </form>
    </div>
{% endblock %}